<div class="row">
<div class="col-lg-4">
  <img src="/assets/images/1_Hygieneplan.JPG" alt="Hygieneplan" width="300">
  <h5>Hygieneplan</h5>
  <p class="card-text">Auch Corona stellt uns vor Herausforderungen! Deshalb fand unsere Apfelaktion dieses Jahr nur im kleinen $
</div>
<div class="col-lg-4">
  <img src="/assets/images/3_Aepfel_Haeckseln.JPG" alt="Muser" width="300">
   <h5>Musen</h5>
   <p>Unsere Häckselmaschine ist alt – aber sie läuft!</p>
</div>
<div class="col-lg-4">
  <img src="/assets/images/apfelfest.jpeg" alt="Apfelpresse" width="300">
   <h5>Pressen</h5>
   <p>Ob aus der Stadt oder aus dem Dorf: Hier können alle lernen selbst Apfelsaft zu produzieren</p>
</div>
</div>
<div class="row">
<div class="col-lg-4">
  <img src="/assets/images/5_Abkochen.JPG" alt="Abkochen" width="300">
    <h5>Abkochen</h5>
    <p>Damit der Apfelsaft sich lange hält, wird er vor dem Abfüllen erhitzt.</p>
</div>
<div class="col-lg-4">
  <img src="/assets/images/6_Fertig.JPG" alt="Fertig" width="300">
    <h5>Fertig</h5>
    <p>Und fertig ist der Apfelsaft! Zum gleich trinken oder mitnehmen.</p>
</div>
</div>
