body
{
 width:100%;
 height:100%;
 background-color:rgb(170,230,170);
 color:black;
 text-align:justify;
}

.container 
{
 background-color:rgba(248,249,250,.8); 
 padding:1.5em;
 margin: 10px auto;
}

h1 {
  margin: 30px 0;
  font-size: 3em;
  line-height: 1;
  letter-spacing: -1px;
}